body {
  font-family: "Golos Text";
  font-style: normal;
  background-color: #111111;
  color: #fff;
}

.container {
  background-color: #1e1e1e;
  width: 400px;
  height: auto;
  padding: 50px 20px;
}

.nav {
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 180px;
}

.alert-p {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0px;
}

.home,
.info {
  margin-top: 5px;
  margin-bottom: 5px;
}

main {
  margin-top: 50px;
}

.title {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-size: 32px;
  color: #ffffff;
}

.info__block {
  margin-bottom: 20px;
  margin-left: 50px;
}

.projects_block {
}

.p-tit {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 0px;
}

.p-done {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #aaff76;
}

.plan-done {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #ff547d;
}

.w-quantity {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #a5a3ff;
}

.p-quantity,
.plan-quantity {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.p-txt {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.col {
  margin: 0px;
  padding: 0px;
}

.progress-ring {
  width: 200px;
  height: 200px;
}

.progress-ring__circle {
  stroke-width: 8;
  stroke: #ffffff;
  fill: none;
  transform-origin: center;
  transform: rotate(-90deg);
}

#progress1 {
  stroke: #aaff76;
}

#progress2 {
  stroke: #ff547d;
}

#progress3 {
  stroke: #a5a3ff;
}

/* stats-block */

.stats__block {
  padding: 20px;
  margin: 5px;
  background: rgb(27, 27, 27);
  border-radius: 15px;
}

.s-temp,
.s-month {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #ffffff;
  margin: 0%;
  padding: 0px;
  margin-bottom: 5px;
  border: none;
  background: rgb(27, 27, 27);
  text-align: center;
}

.s-txt {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin: 0%;
  padding: 0px;
}

/* stats-info */

.stats-info {
  margin-top: 30px;
}

/* settings */

.settings {
  margin-top: 30px;
}

.block-settings {
  padding: 20px;
  background: rgb(27, 27, 27);
  border-radius: 15px;
}

/* modal */

/* Отображение модального окна и его содержимого */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 25%;
  max-height: 45%;
  background-color: #111111;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Стилизация крестика для закрытия модального окна */
.close {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #333;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.close:hover {
  color: #ccc;
}

.modal-txt {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}

.month,
.percente1,
.percente-project1,
.percente2,
.percente-project2,
.percente3 {
  width: 50px;
  margin: auto;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  border: none;
}

/* footer */

footer {
  margin-top: 50px;
}

.footer {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.dev {
  text-decoration: none;
  color: #333333;
}
