body {
  background-color: #111111;
  color: #fff;
}

.container {
  background-color: #1e1e1e;
  width: 400px;
  height: 100vh;
  padding: 50px 20px;
}

.nav {
}

main {
  margin-top: 100px;
}

.title {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-size: 32px;
  color: #ffffff;
}

.info__block {
  margin-bottom: 20px;
  margin-left: 50px;
}

.projects_block {
}

.p-tit {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 0px;
}

.p-done {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #aaff76;
}

.plan-done {
  color: #ff547d;
}

.w-done {
  color: #a5a3ff;
}

.p-quantity,
.plan-quantity,
.w-quantity {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.p-txt {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.col {
  margin: 0px;
  padding: 0px;
}

.progress-ring {
  width: 200px;
  height: 200px;
}

.progress-ring__circle {
  stroke-width: 8;
  stroke: #ffffff;
  fill: none;
  transform-origin: center;
  transform: rotate(-90deg);
}

#progress1 {
  stroke: #aaff76;
}

#progress2 {
  stroke: #ff547d;
}

#progress3 {
  stroke: #a5a3ff;
}
